@use 'variables' as *;
@use 'sass:color';
@use 'mixins' as *;

// Секция подписки
.pricing {
  @include section-base;
  background: $color-black;
}

.pricing-title {
  @include section-title;
  text-align: center;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 32px;
}

.pricing-item {
  padding: 0 1.5rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    font-family: $font-family-roboto;
    font-weight: $font-weight-normal;
    font-size: $h3-desktop-font-size;
    letter-spacing: $letter-spacing-0;
    color: $color-white;
    margin-bottom: 200px;
    padding-top: 24px;
  }

  .pricing-value {
    font-size: 64px;
    color: $color-white;
    line-height: 1em;
    padding-bottom: 25px;
  }

  .pricing-value sup {
    font-size: 32px;
  }

  .btn {
    height: 66px;
    background: transparent;
    color: $color-white;
    border: solid $color-white;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;

    &:hover {
      background: $color-white;
      color: $color-black;
    }
  }

  .pricing-footer {
    padding-top: 64px;
    padding-bottom: 64px;
    font-size: 13px;
    line-height: 1.5;
    color: $color-white;
    text-align: center;
    opacity: 0.8;
  }
}

// Фоновые изображения для карточек
.bg-free {
  background-image: url('../images/subscribe_1.png');
  background-position: center;
  background-size: cover;
}

.bg-standard {
  background-image: url('../images/subscribe_2.png');
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url('../images/subscribe_3.png');
  background-position: center;
  background-size: cover;
}

.pricing-disclaimer {
  font-size: 16px;
  line-height: 1.5;
  color: $color-white;
  text-align: center;
  opacity: 0.8;
  margin: 0 auto;
  padding-top: 6px;
}

// Медиа-запрос для мобильных устройств
@media (max-width: 414px) {
  .pricing-title {
    font-size: $h2-mobile-font-size;
    line-height: $h2-mobile-line-height;
    margin-bottom: 50px;
  }

  .pricing-grid {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .pricing-item {

    min-height: 350px;
    padding: 1rem;

    h3 {
      font-size: $h3-mobile-font-size;
      line-height: $h3-mobile-line-height;
      padding-top: 0;
      margin-bottom: 188px;
    }

    .pricing-value {
      padding-bottom: 37px;
    }

    .btn {
  
    }
    
    .pricing-footer {
      padding-bottom: 47px;
      font-size: 13.8px;
      line-height: 1.5;

    }
  }
  
  // Специальный стиль только для pricing-footer в bg-standard
  .pricing-item.bg-standard {
    background-position: unset;
  }

  .pricing-item.bg-premium {
    background-position: unset;
  }

  .pricing-item.bg-standard .pricing-footer {
    padding-bottom: 43px;
  }

  .pricing-item.bg-premium .pricing-footer {
    padding-bottom: 49px;
  }
}
