@use 'variables' as *;
@use 'mixins' as *;

.similar-artists {
  @include section-base;
  margin-bottom: 100px;
  
  .similar-artists-title {
    @include section-title;
  }
  
  .similar-artists-grid {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 50px;
    row-gap: 25px;
  }
  
  .similar-item {
    @include centered-item;
    
    .similar-image {
      @include circular-image;
    }
    
    .similar-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

      .similar-name {
        @include h3-title;
        margin-bottom: 8px;
        margin-bottom: 0;
        text-transform: none;
      }
      
      .similar-followers {
        @include standard-text;
        opacity: 0.7;
      }
    }
  }
  
  @media (max-width: 414px) {
    
    .similar-artists-title {
      @include section-title-mobile;
    }
    
    .similar-artists-grid {
      grid-template-columns: repeat(2, 150px);
      gap: 25px;
      row-gap: 25px;
    }
    
    .similar-item {
      .similar-image {
        @include circular-image($image-size-150);
      }
      
      .similar-info {
        .similar-name {
          @include h3-title-mobile;
        }
        
        .similar-followers {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }
}
