// Основные цвета
$text-color: #cacaca;
$bg-color: #08020d;

// Цветовая палитра проекта
$color-black: #08020D;
$color-green: #34C176;
$color-gray: #E0E0E0;
$color-orange: #F89202;
$color-dark-gray: #CACACA;
$color-purple: #5328A1;
$color-dark: #3C3B3D;
$color-red: #95390C;

// Шрифты
$font-family: 'Roboto', sans-serif;
$line-height-base: 1.5;

// Размеры заголовков для десктопа
$h1-desktop-font-size: 60px;
$h1-desktop-line-height: 90px;
$h2-desktop-font-size: 38px;
$h2-desktop-line-height: 57px;

// Размеры заголовков для мобильных устройств
$h1-mobile-font-size: 30px;
$h1-mobile-line-height: 45px;
$h2-mobile-font-size: 18px;
$h2-mobile-line-height: 27px;

// Насыщенность шрифта
$font-weight-bold: bold;
